# IDE
.vs/
.vscode/
.idea/
*.xcworkspace/
*.xcodeproj/

# Build directories
build/
Build/
out/

# Compiled libraries
*.lib
*.a
*.so
*.so.*
*.dylib

# Object files
*.obj
*.o

# Debug/build artifacts
*.tlog
*.idb
*.pdb
*.log
*.ilk
*.exp

# CMake generated
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
*.cmake
!cmake/*.cmake

# Package files
*.tar.gz
*.zip